@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic');

.navbar {
    grid-area: n;
    background-color: #002137;
}
.logo{
    height: 65px;
}
.logo img {
    width: 52px;
    height: 44px;
    margin-top: 16px;
    margin-left: 26px;
}
.navItem {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    background-color: #002137;
}

.navItem div{
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.navItem img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;

}

.activeLink div{
    background-color: #002c49;
}
/*.nameItem {
    display: block;
    padding-bottom: 5px;
    margin-top: 5px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}*/
